@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #ffffff;
    --background-color-2: #fde9ea;
    --text-color: #090201;
    --primary-color: #588061;
    --secondary-color: #869f77;
    --accent-color-1: #588061;
    --accent-color-2: #869f77;
    --accent-color-3: #fde9ea;
    --accent-color-4: #f9e0db;
    --accent-color-5: #e7b5ac;
    --border-color: #ddd;
    /* #588061
    #869f77
    #fde9ea
    #f9e0db
    #f9e0db */
}
* {
    font-family: 'DM Sans', sans-serif;
    color: var(--text-color);
}

#app {
    height:100%;
}

button, input, .btn {
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
.btn--accent {
    background-color: var(--accent-color);
}
input {
    box-sizing: border-box;
}
body,html {
    margin: 0;
    padding: 0;
    height:100%;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.topbar {
    background: var(--primary-color);
    width: 100%;
    padding: 1em;
}
.sidebar {
    flex: 0 0 12em;
    transition: margin 0.3s ease;
    background: var(--primary-color);
}

.content {
    flex-grow: 1;
    background: var(--background-color-2);
    transition: margin-left 0.3s;
    padding: 1em;
}



.d-flex {
    display: flex;
}
.h-100 {
    height:100%;
}
.d-grid {
    display: grid;
}
.d-grid--flow-column {
    grid-auto-flow: column;
}
.d-grid--gap-5 {
    gap: 5px;
}
.d-grid--gap-1rem {
    gap: 1rem;
}
.text-center {
    text-align: center;
}
